<section id="jobs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 img-1">
      </div>
      <div class="col-sm-6">
        <div class="wrapper">
          <h1>Aprende</h1> <br>
          <p>Obtén experiencia de personas humildes y empresas innovadoras<br> comprometidas con la educación y la generación de conocimiento</p>
          <br><br>
          <a class="btn" href="#">Es tiempo de volverlo hacer</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="wrapper">
          <h1>Emprende</h1> <br>
          <p>Incluyele en tus planes y decisiones, libera tiempo para compartir solitos, expresarle tus sentimientos y promover su bienestar </p> 
          <br>
          <br><br>
          <a class="btn-yx" href="#">Es tiempo de volverlo hacer</a>
        </div>
      </div>
      <div class="col-sm-6 img-2">
      </div>
    </div>
  </div> 
</section>


<!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">


<div class="container-fluid">
  <div class="row text-center">
    <div class="col py-4 bg-primary text-white">
      <h4>Aprender</h4>
    </div>
    <div class="col py-4 bg-danger text-white">
      <h4>Mejorar</h4>
    </div>
    <div class="col py-4 bg-warning text-white">
      <h4>Emprender</h4>
    </div>
    <div class="col py-4 bg-danger text-white">
      <h4>Trascender</h4>
    </div>
    <div class="col py-4 bg-warning text-white">
      <h4>Amar</h4>
    </div>
  </div>
</div>