<section id="intro">
  <div class="intro-wrapper d-flex align-items-center">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1 class=""><strong>ESTAMOS MOTIVANDO PASIONES</strong></h1>
          <br>
          <h3>Transforma tu vida en una fuente de alegrias <br>
          emprendiendo proyectos divertidos y desafiantes</h3>
          <br>
          <button type="button" class="btn btn-light btn-lg">Compruébalo</button>
        </div>
      </div>
    </div>
  </div>
</section>